xcuserdata/
.build/
.DS_Store
Package.resolved
contents.xcworkspacedata

# Rust
RustBridge/target/
RustBridge/generated/
RustBridge/Cargo.lock

# Generated Library Bridge Files
Sources/DSPLib/camilladsp_ffi.swift
Sources/CamillaDSPFFI/include/
lib/libcamilladsp_ffi.a

# App Bundle
DSPMonitor.app/
